---
layout: default
title: Welcome
---

<h3>
	<a name="welcome" class="anchor" href="#welcome"></a>
	Tervetuloa javascript dokumentaatiosivuillemme!
</h3>

<p>Kokoamme näille sivuille näkemyksiämme hyvistä ohjelmointikäytänteistä javascriptillä ohjelmoitaessa. Osallistujamme ovat @Virta (Frans Ojala), @kenkku (Tero Keinänen), @happosade (Ilari Oras) ja @szetk (Sami Korhonen). Rakennamme lisää materiaalia kun kurssi, jota varten tätä dokumentaatiota tehdään, edistyy.</p>

<h3>
	<a name="structure" class="anchor" href="#structure"></a>
	Dokumenttaation aiheita
</h3>

<p>Kirjoitamme mm. seuraavista aiheista:</p>
<ul>
	{% for post in site.posts %}
	<li><a id="{{ post.identifier }}" href="#">{{ post.title}}</a>
		<div style="display:none" id="T{{ post.identifier }}">
			<p><a href="{{ site.baseurl }}{{ post.url 	}}">Täällä</a>
			{{ post.preamble }}</p>
			</br><button class="btn btn-github" id="{{ post.identifier }}">hide</button>
		</div>
	</li>
	{% endfor %}
   </ul>

{% for post in site.posts %}
	<script>$( "*#{{ post.identifier }}" ).click(function() {
		$( "#T{{ post.identifier }}" ).toggle("show");
		});
	</script>
{% endfor %}
 