---
layout: default
title: Welcome
---

<h3>
	<a name="welcome" class="anchor" href="#welcome"></a>
	Welcome to our JavaScript documentation Pages
</h3>

<p>This site is built on team effort to realize good coding principles when writing javascript.
Our contributors are @Virta, @happosade, @kenkku and @szetk. We will be building this as the course,
for which this documentation is done, advances.</p>

<h3>
	<a name="structure" class="anchor" href="#structure"></a>
	Document structure
</h3>

<p>There will be more sections added later, but for now lets stick with the following:</p>
<ul>
	{% for post in site.posts %}
	<li><a id="{{ post.title }}">{{ post.title}}</a>
		<div style="display:none" id="T{{ post.title }}">
			<p><a href="{{ site.baseurl }}{{ post.url 	}}">Here</a>Preamble</p>
			</br><button id="{{ post.title }}">hide</button>
		</div>
	</li>
	{% endfor %}
   </ul>

{% for post in site.posts %}
	<script>$( "*#{{ post.title }}" ).click(function() {
		$( "#T{{ post.title }}" ).toggle("show");
		});
	</script>
{% endfor %}
 